<font size="0.8">

# PyCity Schools Analysis
### Analyzing the various summarization data frames allows us to determine the below analysis:<br>
> - Charter schools significantly outperform District schools as Charter schools populate the top 8 of school<br>
> performance in overall passing percentage while at least the bottom 5 schools in overall passing percentage<br> 
> are district schools.<br>
> > * this analysis is backed up by the School Type summary in which average scores and percentages are much<br>
> > higher at Charter Schools overall than they are at District Schools<br>
> - It does not seem to be the case that the more money that is spent on a school overall, the better the performance<br>
> of students passing reading and math.  There are District Schools such as Hernandez and Rodriguez High Schools in<br> 
> whch more than 2.5 Million Dollars is spent overall and they are still in the bottom 5 schools in ranking.<br>
> - From this same data, it can be correlated in some cases that the budget metric that seems to determine overall passing<br>
> percentage trends is actually the money spent PER STUDENT rather than TOTAL on the school.<br>
> > * This is represented by many instances in which the students at a Charter School outperform a District school,<br>
> > the overall spend of the Charter school is less while the spending per student at the Charter school more. But,<br>
> > this is by no means a trend that is true of all schools.  In fact, it is an uncommon result.<br>
> - The Spending Ranges summary indicates that this trend of "more money spent per student equals higher overall<br> 
> passing percentage" is more nuanced, however. This summary shows that schools that spend less than `$585` dollars per student<br>
> actually perform the best with an over `90%` overall passing rate.  But, the schools that spend between `$645-$680` per<br>
> student actually have the lowest percent of overall passing `(~53%)`.  This indicates that the budget of money<br>
> spent per student is much more nuanced and likely is greatly affected by school size, size of administration staff,<br>
> the number of teachers, the exclusivity that Charter Schools may promote,  or another nuanced data metric that<br> 
> cannot be captured in this data set.<br>  
> > * This nuanced result is backed-up by the data indicating that the top 5 performing charter schools all had a<br>
> > per capita spend of between `$582-$638` while the 5 bottom District schools had a per capita spend of<br>
> > between `$637-$655`.  But, the overall passing percentage of all top 5 Charter schools is over `90%` while the<br>
> > Overall Passing percentage of all bottom 5 District schools are below `55%`<br>
> - When comapring the two subjects, it seems that no matter the type of school, the budget, the number of students, or<br>
> the per-capita spend, reading is a subject in which many more students excel overall when compared to math<br>
</font>

---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# load each CSV file in the resources folder to get data
schools_complete_data_to_load = Path("Resources/schools_complete.csv")
student_complete_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools_complete_data_to_load)
student_data = pd.read_csv(student_complete_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [7]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())

In [9]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])

In [11]:
# Calculate the total budget
total_budget = sum(school_data["budget"])

In [13]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()

In [15]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()

In [17]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

In [19]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [21]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

In [25]:
# Create a high-level snapshot of the district's key metrics in a dataframe

# create a list of the varible values we have created up until this point
# to be called in the dataframe
district_summary_list = [school_count, student_count, total_budget, average_math_score, 
                         average_reading_score, passing_math_percentage, 
                         passing_reading_percentage, overall_passing_rate]

#create the dataframe with varible values as the data and assign easy-to-interpret column titles
district_summary = pd.DataFrame([district_summary_list], columns = ["Total Schools", "Total Students", 
                                                                  "Total Budget", "Average Math Score", 
                                                                  "Average Reading Score",	"% Passing Math", 
                                                                  "% Passing Reading", "% Overall Passing"])

# Format large numbers to include commas for easy viewing, and dollars as currency
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

#format the percentage columns to be readable percentage values
district_summary["% Passing Math"] = district_summary["% Passing Math"].apply(lambda x: "{:.2f}%".format(x))
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].apply(lambda x: "{:.2f}%".format(x))
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].apply(lambda x: "{:.2f}%".format(x))


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

In [28]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [30]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]

In [32]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

In [34]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')[['math_score']].mean()
per_school_reading = school_data_complete.groupby('school_name')[['reading_score']].mean()

In [36]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name']).size()

In [38]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(['school_name']).size()

In [40]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & 
    (school_data_complete["math_score"] >= 70)]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [42]:
# Use the provided code to calculate the passing rates
per_school_passing_math = (school_students_passing_math / per_school_counts) * 100
per_school_passing_reading = (school_students_passing_reading / per_school_counts) * 100
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts) * 100

In [44]:
# create a dataframe to combine all the series that have the same school_name index
per_school_summary = pd.concat([school_types, per_school_counts, per_school_budget,
                         per_school_capita, per_school_math, per_school_reading,
                         per_school_passing_math, per_school_passing_reading,
                         overall_passing_rate], axis=1)

#set column names for the data in this data frame
per_school_summary.columns = ["School Type", "Total Students",
                              "Total School Budget", "Per Student Budget",
                              "Average Math Score", "Average Reading Score",
                              "% Passing Math", "% Passing Reading",
                              "% Overall Passing"]

# Format large numbers to include commas for easy viewing, and dollars as currency
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# format the columns displaying percentages to be readable in percentage format
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame in alphabetical order by index name
per_school_summary.sort_index()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [47]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [50]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing')
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%

## Math Scores by Grade

In [53]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby('school_name')[['math_score']].mean()
tenth_grader_math_scores = tenth_graders.groupby('school_name')[['math_score']].mean()
eleventh_grader_math_scores = eleventh_graders.groupby('school_name')[['math_score']].mean()
twelfth_grader_math_scores = twelfth_graders.groupby('school_name')[['math_score']].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.concat([ninth_grader_math_scores, 
                                  tenth_grader_math_scores,
                                  eleventh_grader_math_scores,
                                  twelfth_grader_math_scores], axis=1)

# Name the columns of this new dataframe
math_scores_by_grade.columns = ["9th Grade Avg Math Scores", "10th Grade Avg Math Scores",
                                "11th Grade Avg Math Scores", "12th Grade Avg Math Scores"]

# Hide index name (in this case it would be numbers) to avoid confusion in displayed dataframe
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th Grade Avg Math Scores,10th Grade Avg Math Scores,11th Grade Avg Math Scores,12th Grade Avg Math Scores
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [56]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby('school_name')[['reading_score']].mean()
tenth_grader_reading_scores = tenth_graders.groupby('school_name')[['reading_score']].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby('school_name')[['reading_score']].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby('school_name')[['reading_score']].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.concat([ninth_grader_reading_scores, 
                                  tenth_grader_reading_scores,
                                  eleventh_grader_reading_scores,
                                  twelfth_grader_reading_scores], axis=1)

# Title the colums in this new dataframe
reading_scores_by_grade.columns = ["9th Grade Avg Reading Scores", 
                                   "10th Grade Avg Reading Scores", 
                                   "11th Grade Avg Reading Scores", 
                                   "12th Grade Avg Reading Scores"]

# Hide index name (in this case it would be numbers) to avoid confusion in displayed dataframe
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th Grade Avg Reading Scores,10th Grade Avg Reading Scores,11th Grade Avg Reading Scores,12th Grade Avg Reading Scores
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [59]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [61]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [63]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(x=per_school_capita, bins=spending_bins, labels=labels, right=False)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

#per_school_summary_sorted = per_school_summary.sort_index()
school_spending_df.sort_index()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%,<$585

In [65]:
# format the columns showing percentages back to floats in order to do calculations on them
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].replace('%', '', regex=True).astype(float)
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].replace('%', '', regex=True).astype(float)
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].replace('%', '', regex=True).astype(float)

#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean().rename("% Passing Math")
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean().rename("% Passing Reading")
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean().rename("% Overall Passing")

In [67]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# format columns that represent percentages back to readable percent formats
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,81.899826,83.155286,87.13%,92.72%,81.42%
$630-645,78.518855,81.624473,73.48%,84.39%,62.86%
$645-680,76.997210,81.027843,66.16%,81.13%,53.53%
<$585,83.455399,83.933814,93.46%,96.61%,90.37%

## Scores by School Size

In [70]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [72]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [74]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(x=per_school_counts, bins=size_bins, labels=labels, right=False)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%,Medium (1000-2000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%,Small (<1000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%,Small (<1000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%,Medium (1000-2000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%,Large (2000-5000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%,Medium (1000-2000)

In [76]:
# format these percent columns back to floats in order to do calculations on them
school_size_df["% Passing Math"] = school_size_df["% Passing Math"].replace('%', '', regex=True).astype(float)
school_size_df["% Passing Reading"] = school_size_df["% Passing Reading"].replace('%', '', regex=True).astype(float)
school_size_df["% Overall Passing"] = school_size_df["% Overall Passing"].replace('%', '', regex=True).astype(float)

# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [90]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# format columns that represent percentages back to readable percent formats
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.746417,81.344493,69.96%,82.77%,58.28%
Medium (1000-2000),83.374684,83.864438,93.60%,96.79%,90.62%
Small (<1000),83.821598,83.929843,93.55%,96.10%,89.89%

## Scores by School Type

In [81]:
# format these percent columns back to floats in order to do calculations on them
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].replace('%', '', regex=True).astype(float)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].replace('%', '', regex=True).astype(float)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].replace('%', '', regex=True).astype(float)

# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [83]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# format columns that represent percentages back to readable percent formats
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.62%,96.59%,90.43%
District,76.956733,80.966636,66.55%,80.80%,53.67%